
body
{
	background-color: transparent;
}  

div.header
{
	background-color: transparent;
}

div.maincontent
{
	background-color: transparent;
}

div#mapCanvas 
{
	background-color: #c0c0c0;
}

div.controlpage
{
	background-color: #c0c0c0;
}

div.footer
{
	background-color: transparent;
}

h1.title
{
}

div.controlFormWrapper
{
}

div.textBoxWrapper
{
}

input#addressSearchBox
{
}

input#addressSearchButton
{
}

input#loopRouteButton
{
}

input#outAndBackRouteButton
{
}

input#endRouteButton
{
}

input#undoRouteButton
{
}

input#clearRouteButton
{
}

input#routeNameTextBox
{
}

textarea#routeDescriptionTextBox
{
}

input#saveRouteButton
{
}